<ng-container *ngIf="data$ | async as data">
  <div class="my-4 text-center" *ngIf="members && members.length">
    <h3>List of Members</h3>
  </div>
  <table class="table table-striped table-bordered my-4">
    <thead>
      <tr class="table-warning">
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Created</th>
        <th>Roles</th>
        <th class="text-center">Lock / Unlock</th>
        <th class="text-center">Edit / Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!members || !members.length">
        <td colspan="7" class="text-center fst-italic">No Members Found.</td>
      </tr>
      <tr *ngFor="let member of members">
        <td>{{ member.userName }}</td>
        <td>{{ member.firstName | titlecase }}</td>
        <td>{{ member.lastName | titlecase }}</td>
        <td>{{ member.dateCreated | date }}</td>
        <td>
          <span *ngFor="let role of member.roles; let i = index">
            {{ role }} <span *ngIf="i + 1 < member.roles.length">, </span>
          </span>
        </td>
        <td class="text-center">
          <a class="btn btn-warning btn-sm" *ngIf="!member.isLocked" (click)="lockMember(member.id)">Lock</a>
          <a class="btn btn-success btn-sm" *ngIf="member.isLocked" (click)="unlockMember(member.id)">Unlock</a>
        </td>
        <td class="text-center">
          <button class="btn btn-primary btn-sm me-2" routerLink="/admin/edit-member/{{ member.id }}">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteMember(member.id, template)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-floating" *ngIf="data.backendErrors">
    <app-validation-messages [backendErrors]="data.backendErrors"></app-validation-messages>
  </div>
  <div class="my-3 text-end">
    <a class="btn btn-outline-primary" routerLink="/admin/add-member">Create Member</a>
  </div>
</ng-container>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete {{memberToDelete?.userName}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
