<ng-container *ngIf="data$ | async as data">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="nav-brand">
          <img class="me-3" src="./assets/images/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                class="nav-link text-white"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/play" routerLinkActive="active">Play</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link text-white" routerLink="/admin" routerLinkActive="active">Admin</a>
            </li>
          </ul>
          <ul class="navbar-nav" *ngIf="!data.currentUser || data.isLoading">
            <li class="nav-item">
              <a class="btn btn-secondary mx-2 text-white" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary text-white" routerLink="/login">Login</a>
            </li>
          </ul>
          <div class="d-flex align-items-center" *ngIf="data.currentUser">
            <a class="text-white" style="text-decoration: none; cursor: pointer">
              <span class="h5 text-warning">Hello</span>{{ ' ' }}
              <span class="h5 text-warning">{{ data.currentUser.firstName | titlecase }}</span>{{ ' ' }}
              <span class="h5 text-warning">{{ data.currentUser.lastName | titlecase }}</span>
            </a>
            <a class="btn btn-secondary ms-4" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
</ng-container>

<!-- "./node_modules/bootswatch/dist/cerulean/bootstrap.css" from angular.json -->